@model ProductGallary.TDO.BillInfoDTO

@{
    ViewData["Title"] = "الفاتوره";
}



<div>
    <h4 class='text-center text-info fs-5 fw-bold' >الفانوره</h4>
    <hr />
    <div class='row justify-content-between  mt-2 '>
        <p class='col-md-6 col-sm-12'>رقم الفاتوره:</p>
        <p class='col-md-6 col-sm-12'>@Model.Id</p>
    </div>
    <div class='row justify-content-between  mt-2 '>
        <p class='col-md-6 col-sm-12'>اسم العميل:</p>
        <p class='col-md-6 col-sm-12'>@Model.userName</p>
    </div>
    <h2 class='text-center  mt-2 mb-3'>المنتجات</h2>
    <div class='row justify-content-between  mt-2  mb-3'>
            <p class='col-md-6 col-sm-12'>المنتج</p>
            <p class='col-md-6 col-sm-12'>السعر</p>
        </div>
    @foreach (var item in @Model.products)
    {
        <div class='row justify-content-between  mt-2 '>
            <p class='col-md-6 col-sm-12'>@item.Name</p>
            <p class='col-md-6 col-sm-12'>@item.Price جنيه</p>
        </div>
    }

     <div class='row justify-content-between mt-2 '>
            <p class='col-md-6 col-sm-12 fs-5 fw-bold'>الأجمالى</p>
            <p class='col-md-6 col-sm-12'>@Model.Price جنيه</p>
    </div>

    <div class='row justify-content-between mt-2 '>
            <p class='col-md-6 col-sm-12'>@Model.currentTime</p>
            <p class='col-md-6 col-sm-12'>@Model.currentDate</p>
    </div>

    <button class='btn btn-success mt-4' onclick='printBill()'>طباعه الفاتوره</button>
</div>
<div class='mt-4 '>
    <a asp-action="Index" asp-controller='Home'>الذهاب للصفحه الرئيسيه</a>
</div>

<script>
    function printBill(){
       
        window.print()
    }
</script>